:root {
  @apply antialiased text-black;
  font-size: calc(15.5px + (17 - 15.5) * ((100vw - 600px) / (1600 - 600)));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mt-8 mb-3 font-bold leading-tight;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

p {
  @apply my-4;
}

@media (max-width: 767px) {
  .left-nav {
    position: absolute;
    transform: translateX(-250px);
    transition: transform .3s ease;

    + * {
      transition: transform .3s ease;
    }

    &.open {
      transform: none;

      + * {
        transform: translateX(250px);
      }
    }
  }
}
