article {
  a {
    @apply text-green-700 underline;
  }

  ul {
    @apply list-disc pl-4;
  }

  li {
    @apply my-2;
  }

  img {
    min-height: clamp(20vh, 350px, 468px);
    transition: opacity .5s ease;
    animation: fade-in .5s ease .5s;
    @apply my-6;

    @screen md {
      @apply my-10;
    }

    @screen lg {
      @apply my-12;
    }

    @screen xl {
      @apply my-16;
    }
  }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
