{% extends './layout.njk' %}

{% block main %}
  <a href="/{{lang}}">
    {% block back %}
      Back
    {% endblock %}
  </a>
  <article>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
{% endblock %}
