{% extends './layout.njk' %}

{% block main %}
  <a href="/{{lang}}">
    {% block back %}
      Back
    {% endblock %}
  </a>
  <article>
    <h1>{{ title }}</h1>
    <p class="italic text-gray-500 text-sm">
      {% if location %}
        {{ location }},
      {% endif %}
      {% if country %}
        {{ country }},
      {% endif %}
      <time>{{ date }}</time>
    </p>
    {{ content | safe }}
  </article>
{% endblock %}
